{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ $pages := sort .Pages "Params.title" }}
{{ $paginator := .Paginate $pages }}
{{- range $index, $page := $paginator.Pages }}
{{/* <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2> */}}
<article class="m-auto flex w-full max-w-4xl flex-col gap-5 rounded-xl bg-gray-600 p-4 shadow-md">
  <div class="flex gap-5">
    <a href="{{ .Params.liveLink }}" title="View live demo." target="_blank" rel="noopener">
      <figure>
        <img class="h-48 w-48 max-w-none rounded-xl transition hover:-translate-y-0.5 hover:translate-x-0.5" src="/{{ .Params.thumbnail }}" alt="{{ .Params.thumbnailAlt }}">
        {{/* <pre>{{ debug.Dump .Params.thumbnail }}</pre> */}}
      </figure>
    </a>
    <div class="post-link flex flex-col gap-4">
      <header class="text-left text-2xl font-normal">
        <a class="text-blue" href="{{ .Params.liveLink }}" title="View live demo." target="_blank" rel="noopener">
          {{ .Title }}
        </a>
      </header>
      <p class="text-left text-xl font-extralight">{{ .Summary }}</p>
      <p class="mt-auto text-left text-xl font-light">{{ .Date.Format "Monday, January 2, 2006" }}</p>
    </div>
  </div>
  <hr>
  <footer class="flex items-center gap-4">
    {{ range .Params.tags }}
    <a href="/Front-End-Mentor---Portfolio-Page/tags/{{- . }}" title="Learn more about the {{ . }} tag.">
      <p class="self-center rounded-xl bg-white p-3 font-mono text-sm text-blue shadow-md transition hover:-translate-y-0.5 hover:translate-x-0.5">
        {{ . }}
      </p>
    </a>
    {{ end }}
    <div class="link-container ml-auto flex gap-2.5">
      <a class="w-10 rounded-full shadow-md transition hover:-translate-y-0.5 hover:translate-x-0.5" href="{{ .Params.githubLink }}" title="View source code on GitHub." target="_blank" rel="noopener">
        <img src="/github-mark.svg" alt="github logo">
      </a>
      <a class="w-10 rounded-full bg-white shadow-md transition hover:-translate-y-0.5 hover:translate-x-0.5" href="{{ .Params.femLink }}" title="View original challenge page on frontendmentor.io" target="_blank" rel="noopener">
        <img class="m-auto align-middle" src="/frontendmentor.svg" alt="front end mentor logo">
      </a>
    </div>
  </footer>
</article>
{{ end }}
{{ .Summary }}
{{ end }}
{{/* {{ end }} */}}