<div class="mt-11 rounded-t-md bg-graya-500 shadow-inner backdrop-blur-2xl backdrop-saturate-150">
    <footer class="m-auto flex max-w-7xl flex-col justify-center gap-2 p-2.5 sm:flex-row">
        <p class="text-l order-last m-auto font-extralight sm:order-first sm:m-0 sm:mr-auto sm:text-2xl">Copyright {{ now.Year }}. All rights reserved.</p>
        <div class="order-first m-auto flex gap-4 sm:order-last sm:m-0 sm:ml-auto">
            <a href="/" title="Contact me.">
                <img width="32" src="email-svgrepo-com.svg" alt="email icon">
            </a>
            <a href="{{ .Site.Params.twitter}}" target="_blank" rel="noopener" title="See my Twitter/X profile.">
                <img width="32" src="X_logo_2023_original.svg" alt="Twitter/X logo">
            </a>
            <a href="{{ .Site.Params.github}}" target="_blank" rel="noopener" title="See my GitHub page.">
                <img width="32" src="../github-mark.svg" alt="github logo">
            </a>
        </div>
    </footer>
</div>